{% load cropping %}
<div class="item-list">
	<h3 class="list-title">{{ listname }}</h3>						
	<div>
		<ul>
			{% for item in itemlist %}
			<li>
				<div class="row">
						<a href="/">
						<img class="list-img" src="{% cropped_thumbnail item "small_cropping" %}"  alt="{{ item.title }}" width="100px" height="140px"></a>
					<a href="{% url 'article_view' article_title=item.title %}"><h4 class="item-heading">{{ item.title }}</h4></a><br />
					<p class="description">{{ item.short_description }}</p>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
