{% load cropping %}

<div class="item-list">
	<div>
		<ul>
			{% for item in itemlist %}
			<li>
				<div class="row">
						<a href="/">
						<img class="list-img" src="{% cropped_thumbnail item "cropping" %}"  alt="{{ item.title }}" width="100px" height="140px"></a>
					<a href="{% url 'article_view' article_title=item.title category_name=article.first_category.url_prefix%}"><h4 class="item-heading">
                        {{ item.title }}

                    </h4></a><br />

				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
