{% for item in menuitems %}
  <li><a href="{% url view_name category_name=item.name %}">{{item.name}}</a>

  {% if item.get_children.all or item.menu_tags.all %}
  <ul class="dropdown-menu">
  {% if item.get_children.all %}
    {% with  menuitems=item.get_children template_name="menu.html" view_name=view_name %}
        {% include template_name %}
    {% endwith %}
  {% endif %}
  {% if item.menu_tags %}
  {% for tag in item.menu_tags.all %}
    <li><a href="{% url view_name category_name=item.name %}?tag={{ tag.name }}">{{ tag.name }}</a></li>
  {% endfor %}
  {% endif %}
  </ul>
  {% endif %}
  </li>
{% endfor %}